.global-container {
  display: flex;
  margin: 100px 10% 50px;
  justify-content: center;
  display: flex;
  .presentation {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0px 50px 0 0;
  }
  h2 {
    font-size: 3.5rem;
  }
  p {
    text-align: justify;
    font-size: 1.5rem;
  }
  img {
    width: 400px;
    height: 550px;
  }
  a {
    text-decoration: none;
    color: white;
    border-bottom: 1px transparent;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
.caracteristics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  transform: translateX(-10px);
}
