.details-quote-container {
  margin: 50px 15% 50px;
  justify-content: center;
  display: flex;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
}
.quote-container  {
  div {
    width: 500px;
    height: 100px;
    margin-bottom: 50px;
    background-color: green;
    transform: translateX(10%);
  }

}
h2, p {
  margin: 0 0 0 -30px;
}
h2 {
  margin-top: 40px;
  font-size: 2.5rem;
}
p {
  font-style: italic;
  font-size: 0.9rem;
}
hr {
  margin: 30px 0 50px -30px;
}
