<div *ngIf="element">
  <app-description [description]="description"></app-description>
  <br>
  <!-- <br> -->
  <!-- <app-ports [ports]="ports"></app-ports> -->
  <!-- <br> -->
  <!-- <br> -->
  <!-- <app-politique [politiques]="politiques"></app-politique> -->
  <br>
  <br>
  <app-culture [cultures]="cultures"></app-culture>
  <br>
  <br>
  <!-- <app-economie [eco]="eco"></app-economie> -->
  <br>
  <br>
  <app-geographie [geo]="geo"></app-geographie>
  <br>
  <br>
  <!-- <app-proverbes [proverbes]="proverbes"></app-proverbes> -->
  <br>
  <br>
  <!-- <app-contes [contes]="contes"></app-contes> -->
  <br>
  <br>
  <!-- <app-lore [lore]="lore"></app-lore> -->
  <br>
</div>
<hr>
