/* You can add global styles to this file, and also import other style files */

div{
  padding: 10px;
  min-width: 300px;
  // display: flex;
  text-align: justify;
  justify-content: space-evenly;
}
