body {
  color: white;
  background-image: url("./assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand&family=Raleway:ital@0;1&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --secondary-color: #b554a9;
}
